.categories-page{

    padding:80px 8%;

    background:#f8fafc;

}


/* Header */

.categories-header{

    text-align:center;

    max-width:750px;

    margin:auto;

}


.categories-header h1{

    font-size:42px;

    color:#1e293b;

    margin-bottom:15px;

}


.categories-header p{

    color:#64748b;

    font-size:18px;

    line-height:1.6;

}





/* Grid */

.categories-grid{

    margin-top:50px;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}





/* Card */

.category-card{

    background:white;

    padding:35px 30px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,0.08);

    transition:0.3s;

    position:relative;

}



.category-card:hover{

    transform:translateY(-10px);

}





.category-icon{

    width:80px;

    height:80px;

    margin:auto;

    display:flex;

    align-items:center;

    justify-content:center;

    background:#fff3eb;

    border-radius:50%;

    font-size:40px;

}





.course-count{

    display:inline-block;

    margin-top:20px;

    padding:6px 15px;

    border-radius:20px;

    background:#e86b28;

    color:white;

    font-size:14px;

}





.category-card h2{

    margin-top:20px;

    color:#1e293b;

    font-size:23px;

}





.category-card p{

    color:#64748b;

    line-height:1.6;

    min-height:75px;

}





.category-card button{

    margin-top:20px;

    padding:12px 28px;

    border:none;

    border-radius:25px;

    background:#1e293b;

    color:white;

    cursor:pointer;

    font-size:15px;

    transition:0.3s;

}




.category-card button:hover{

    background:#e86b28;

}






/* Responsive */


@media(max-width:1000px){

    .categories-grid{

        grid-template-columns:repeat(2,1fr);

    }

}



@media(max-width:650px){

    .categories-page{

        padding:50px 5%;

    }


    .categories-header h1{

        font-size:32px;

    }


    .categories-grid{

        grid-template-columns:1fr;

    }

}